<div class="footer-basic-centered">
      <h3 class="footer-company-name">Adopte Un Senior &copy; 2016</p>
      <p class="footer-company-moto">Aide des personnes agées dans leur quotidien
</p>

</div>
    </div>

