<div class="footer-basic-centered">
<div class="footer-container">
    <p> Donnez de votre temps</p>
      <p class="footer-links">
        <a href="#">Home</a>
        <a href="#">Blog</a>
        <a href="#">Pricing</a>
        <a href="#">About</a>
        <a href="#">Faq</a>
        <a href="#">Contact</a>
      </p>

      <p class="footer-company-name">Adopte Un Senior &copy; 2016</p>
</div>
    </div>

