<div class="banner">
  <div class="banner-content">
    <h1>Adopte un senior</h1>
    <h2>Aide des personnes agées dans leur quotidien</h2>
    <h3>Soit rémunéré pour ton temps, en argent ou en petites attentions</h3>


  </div>
</div>




