<h1>Welcome to the booking page</h1>

<h2> Below you can see all your bookings </h2>

<p><%= @booking %> </p>

<!--   <% @bookings.each do |booking|  %>
  <p><%= booking.activity.name %> </p>
  <% end %>
 -->
