/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.div-centered {
  text-align:center;
}

.no-bullet {
  list-style-type: none;

}

.fa {
text-decoration: none;
color: white;

}
.page-wrapper {
  margin: 20px;
  padding-bottom: 120px;

}

.search-bar {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;


}
.user-details-overview_sidebar {
    float: left;
    padding: 0 15px;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    border-left: 1px solid #e5e5e1;
}


.user-picture-div {
    float: left;
    padding: 0 15px;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px solid #e5e5e1;
}

.title {
  margin-bottom: 10px;


}

