.booking {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.15s ease;
  background-color: white;
  margin-bottom: 20px;
}

.booking-index-image {

    max-height: 100px;
    width: initial;
    border-radius: 50%;
    margin-right: 20px;
}
/* Body design */
.booking-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  #acceptance {
    display: flex;
    justify-content: space-around;
  }
  .btn {
    margin: 10px;
    width: 100px;
  }
}
.booking-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}
.booking-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

/* booking image */
.booking-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 175px;
}

/* Upvote design */
.booking-upvote {
  padding-right: 20px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}
.booking-count {
  margin: 2px 0 0;
}
.booking-arrow {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
}

/* Controls design */
.booking-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.booking-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}
.booking-controls a:hover {
  color: #D3473C !important
}
.booking-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
.booking:hover {
  background: #f7f7fa;
  cursor: pointer;
}
.booking-upvote:hover {
  color: #5898f1;
  cursor: pointer;
}
.booking:hover .booking-upvote { transform: scale(1.2) }
.booking:hover .booking-controls-hidden a { color: #E6E6E6 }
.booking-upvote:hover .booking-arrow { border-bottom: 9px solid #5898f1 }
