/* Card design */

.card {
    height: 250px;
    background-size: cover !important;
    background-color: white;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
    opacity: 70%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    border-radius: 6px;
}

.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background: black;
    opacity: 0;
}

.card-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.card-user {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    right: 10px;
    top: 10px;
}

.booking-card {
height: 250px;
 text-shadow: 0 1px 3px rgba(0,0,0,0.6);
 color: white;
 background-color: grey;
 border: 1px solid black;
 border-radius: 5px;
 margin-bottom: 20px;
 padding: 20px auto;
}

.search-card {
  height: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-color: #F1F1F1;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}
