// Place all the styles related to the activitys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#flexouille {
  display: flex;
  justify-content: space-between;
  height: 130px;
}

#link-box {
  display: flex;
  justify-content: flex-start;
  width: 300px;
  .btn {
    margin-right: 10px;
  }
}

li {
  list-style: none;
}

// .photo {
//   border-radius: 50px;
//   border: 1px solid rgba(0, 0, 0, 0.1);
//   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
//   background: white;
// }

.photo {
  margin-top: 30px;
  img {
  border-radius: 50%;
  }
}


.fa {
  color: black;
}

.card-container {
  .card {
  width: 80%;
  padding-top: 30px;
  padding-bottom: 30px;
  }
  #activity_button {
    margin-top: 50px;
    width: 150px;
    font-weight: bold;
  }
}

.table_activity {
  margin-top: 25px;
  td {
  vertical-align: center;
  height: 50px;
  width: 300px;
  border-bottom: 1px solid #ddd;
  }
  .head {
    width: 150px;
  }
}
