// Place all the styles related to the activitys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#flexouille {
  display: flex;
  justify-content: space-between;
  height: 130px;
}

#link-box {
  display: flex;
  justify-content: flex-start;
  width: 300px;
  .btn {
    margin-right: 10px;
  }
}

li {
  list-style: none;
}

// .photo {
//   border-radius: 50px;
//   border: 1px solid rgba(0, 0, 0, 0.1);
//   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
//   background: white;
// }

.photo img {
  border-radius: 50%;
}


.fa {
  color: black;
}

.table_activity {
  vertical-align: top;
}

.form {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(100,100, 100, 0.2);
  padding: 30px;
  font-size: 15px;
}
