// Place all the styles related to the activitys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#flexouille {
  display: flex;
  justify-content: space-between;
  height: 130px;
}

#link-box {
  display: flex;
  justify-content: flex-start;
  width: 300px;
  .btn {
    margin-right: 10px;
  }
}

li {
  list-style: none;
}
